<!DOCTYPE html>
<html>
<head>
	<title>Peliculas de Star Wars</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
  		<div id="app" class="row">
    		<div class="col-md-8 col-sm-offset-2">
      			<input id="input-search" type="text" class="form-control" placeholder='Search...'>
      			<div id="list-films">
      				<ul v-for="film in films">
      					<li>{{film.title}}</li>	
        			</ul>
        		<!--	<div class="panel panel-default" v-for="country of countries">
          				<div class="panel-heading">
            				<img v-bind:src="country.flag" alt="" width="30px">
            				<span>{{persona.nombre}}</span>
          				</div>
          				<div class="panel-body">
            				<div class="row">
              					<div class="col-md-6">Capital: <strong>{{country.capital}}</strong></div>
              					<div class="col-md-6">Region: <strong>{{country.region}}</strong></div>
            				</div> 
            				<div class="row">
              					<div class="col-md-6">Currency: <strong>{{country.currencies[0].name}} ({{country.currencies[0].symbol}})</strong></div>
              					<div class="col-md-6">Population: <strong >{{country.population}}</strong></div>
            				</div> 
          				</div> -->
        		</div>
      		</div>
      	
    	</div>
  	</div>  
	




	
	<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollup/2.4.1/jquery.scrollUp.min.js"></script>

    <script src="js/main.js"></script>
</body>
</html>